/* chicago is seperate because it breaks every other theme if it's in style.css*/

   .theme-credit::after { 
  content: "Rimet Chicago by Ethan F, APH6000." !important;
}


 .winclose, .winmaximize, .winminimize {
    background: silver !important;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey!important;
    border-radius: 0px !important;
    color: #000 !important;
    font-weight: bold;
        height: 18px;
}

.winminimize > span {
    border-bottom: 2px solid #000;
        top: 8px !important;
    left: 3px !important;
    height: 4px !important;
    width: 8px !important;
}

.windowHeader > span {
    border: 0px solid #000;
    margin-left: 0px;
    font-size: 28px;
    padding: 0px 0px;
    line-height: 28px;
    width: 18px !important;
    height: 18px !important;
}

#chiclose {
    display: none;
}

.winclose {   
    left: -2px;
    top: -2px;
    background-image: url(minus.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 50% !important;
}

.winmaximize, .winminimize {
        top: -2px;
        left: 2px;
}

.windowHeader {
    background: navy !important;
    color: #FFF;
    box-shadow: none !important;
    text-align: right;
    border-bottom: 0px solid #000;
    padding: 2px;
    cursor: move;
    margin: 2.5px;
    height: 14px;
}

.window {
    position: absolute;
    border: 1px solid gray;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px grey, inset -2px -2px grey, inset 2px 2px #fff;
    background: lightgray;
}

.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 14px;
    position: absolute;
    top: 11px;
    left: 3px;
}

#comments {
    right: 45px !important;
    top: 6px !important;
}

.windowHeader > strong {
    left: 24px;
    top: -3px;
}


.winmaximize > span {
    border: 1px solid #000;
    border-top: 2px solid #000;
    top: 3px !important;
    left: 3px !important;
    height: 8px !important;
    width: 9px !important;
}


.winclose > img {
    position: absolute;
    top: 3px;
    left: 1px;
}

.dropbtn {
    padding: 6px;
}

#txt {
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey!important;
    padding: 5px;
    bottom: -3px !important;
}

.taskbarPanel, #taskbar, .button, .contents, #window0 > .wincontent, #window6 > .wincontentt {
    background: #CCC;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px grey, inset -2px -2px grey, inset 2px 2px #fff;
}


#minimPanel1, #minimPanel1 > .taskbarPanel.activeTab {
 background-image: url(icons/Inter.png) !important;
  background-position: 5.5% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

#minimPanel2, #minimPanel2 > .taskbarPanel.activeTab {
 background-image: url(icons/WVPC.png) !important;
  background-position: 5.5% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

#minimPanel3, #minimPanel3 > .taskbarPanel.activeTab {
 background-image: url(icons/Notepad.png) !important;
  background-position: 6% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

#minimPanel4, #minimPanel4 > .taskbarPanel.activeTab {
 background-image: url(icons/HTMLComments.png) !important;
  background-position: 5% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

#minimPanel5, #minimPanel5 > .taskbarPanel.activeTab {
 background-image: url(icons/Chatango.png) !important;
  background-position: 6% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

#minimPanel6, #minimPanel6 > .taskbarPanel.activeTab {
 background-image: url(icons/Control_Panel.png) !important;
  background-position: 6% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 24px !important; 
}

.taskbarPanel.minimizedTab:hover {
    font-weight: normal;
    background: #CCC;
}

.line-separator {
    box-shadow: inset 0px 1px gray, inset -1px -1px #fff, inset 2px 2px silver, inset -2px -2px #dfdfdf !important;
}

.taskbarPanel.activeTab, .button:hover {
    font-weight: normal !important;
    background: #CCC !important;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px grey, inset 2px 2px #0a0a0a !important;
}

desktop {
  background-image: url("water.jpeg") !important;
}
