  
/*Rimet ND Fix */
  
  .windowHeader > span:active {
  box-shadow: none !important;
}

  #colorsButton {
  font-size: 11px !important;
  color: #000 !important;
}

  
  
  /*Japanese fix*/
   .windowHeader > strong::after {
    font-size: 18px !important;
    top: 8px !important;
  } 
  .winName::after {
    font-size: 15px !important;
    top: 0px !important;
  }
  .taskbarPanel {
    top: -3px !important;
  }
  #openAbout::after, #openIntr::after, #openWvPC::after, #openNtpd::after, #openHtCb::after, #openChtn::after, #openCtPl::after {
    font-size: 15px !important;
    top: 0px !important;
  }
  
   .shutDown {
    display: none !important;
  }
  
  .window, .wincontent {
    background: #FFF !important;
  }
  
  .contents, #startItems, .itemsOnly, #startMenu, #taskbar {
    z-index: 0 !important;
  }
  
  #window0 > .wincontent {
  padding: 0px !important;
}
  
  .header {
    display: none !important;
  }
  
  .themeSelect-content {
   border: 1px solid #000;
}
  
  .windowHeader > strong {
    background-image: none !important;
    left: 10px !important;
    padding-left: 0px !important;
  }
  
  .wincontent {
    padding: 10px !important;
  }
  
  #icons {
    display: none !Important;
  }
  
  .taskbarPanel {
 background-image: none !important;
  background-position: 5.5% 50% !important;
background-repeat: no-repeat !important;
padding: 0 10px !important;
}
  
  .winmaximize, .winminimize, .winclose {
    top: 0px;
    left: 0px;
}

.winmaximize > span {
  top: 5px !important;
left: 9.5px !important;
}
  
  *, *:hover, *:active {
     box-shadow: none !important;
  }
  
  .spwincontent, #spwin0 {
    width: 100% !important;
    height: 100% !important;
    background: none !important;
    border: none !important;
  }
  .spHeader {
    display: none;
  }
  

  
  desktop {
    background-image: url('https://ethanf44.xyz/rimet/always_grey.png');
    background-color: #FFF !important;
    background-size: 10% !important;
  }
  
  
  
  .theme-credit::after { 
  content: "Rimet Classic created by Ethan F." !important;
}
  
  
  #cpl.theme:hover {
    font-style: italic !important;
  }
  
  .dropbtn2, .dropbtn3 {
  display: none;
}


  
  .window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
	border-radius: 5px !important;
    box-shadow: none !important;
	z-index: 1000;
}
  .windowHeader {
    background-color: grey;
    box-shadow: none !important;
    margin: 0px !important;
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 30px;
}
  .windowHeader > span {
    display: inline-block;
    box-shadow: none !important;
    height: 20px !important;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: Trebuchet, Gadget, sans-serif;
    border-radius: 5px !important;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
  
  .windowHeader > strong {
    font-family: Arial !important;
    font-weight: normal !important;
    top: 2px;
    font-size: 18px;
    left: 10px;
  }
  
  .winclose {
    float: right !important;
  }
  
  #comments {
    display: none !important;
  }
 
 .dropbtn {
    background-image: url('rimet1.png') !important;
    bottom: 6px !important;
    left: 5px !important;
    float: left;
    position: relative !important;
    width: 26px !important;
    height: 22px !important;
}

#rimetbtn {
 display: none; 
}

#txt {
  display: none !important;
    font-family: Arial !important;
   font-size: 15px !important;
   bottom: -1px !important;
   box-shadow: none !important;
}
  
  .taskbarPanel {
   left: 30px; 
   margin: 3.5px 0 0 10px;
   box-shadow: none !important;
   border: 2px solid #000 !important;
   border-radius: 5px !important;
   bottom: 3px !important;
   font-family: Arial;
   font-size: 15px;
  }
  
  #taskbar {
   box-shadow: none !important;
   border-top: #000 solid 1px;
  }
  
  .windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span.winclose:hover {
	background: #78c4eb;
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid #000;
  left: 10px !important;
}
  
  #chiclose {
    display: none !important;
  }
  
  .winclose::after {
    content: "x";
    font-family: Arial Black !important;
    top: 1px;
    position: absolute;
    left: 10px;
}

  
.winmaximize > span {
	border: 2px solid #000;
	border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px !important;
left: 12px !important;
}
  
  .contents, .dropup-content {
    display: inline-block !important;
    background: none !important;
    box-shadow: none !important;
    position: absolute !important;
  }
  a.openWindow, a.shutDown {
    z-index: 0 !important;
    color: #FFF !important;
    font-family: Arial !important;
    font-size: 15px;
  }
  
  #box, #cpl, .button, .abt-rmt, #window0 > .wincontent, #window6 > .wincontent {
    font-family: Arial !important;
  }
  
  .startItems, .dropup-content {
    position: fixed;
    top: 15px;
    left: 10px;
      z-index: 0 !important;
  }
  .line-separator {
    display: none !important;
  }
  
  a.openWindow:hover, a.shutDown:hover {
   background: #000 !important; 
  }
  
  body {
    background-image: url('always_grey.png');
  }
  
  .button {
    box-shadow: none !important;
    background: none !important;
    border-radius: 5px !important;
    border: 2px solid #000 !important;
  }
  
  .button:hover {
    background: silver !important;
  }
  
  desktop {
    background: none !important;
  }
  
  menu[role=tablist] button {
    background: none;
    border-left: 2px solid #000;
        border-top: 2px solid #000;
            border-right: 2px solid #000;
}

[role=tabpanel] {
    border: 2px solid #000 !important;
        background: none;
}

menu[role=tablist] button[aria-selected=true] {
            background: #fff;
}


.audioplayer-playpause {
      box-shadow: none !important;
    background: none !important;
    border-radius: 5px !important;
    border: 2px solid #000 !important;
}

.rimetPossible, .sysinfo-title, .themeSelect-content > strong, .wplist > strong {
font-family: Arial, "Pixelated MS Sans Serif", "Microsoft Sans Serif", "MS Sans Serif", "Pixelated MS Sans Serif", "Microsoft Sans Serif", Tahoma, NanumGothic, Arial !important;
}

.menu {
    box-shadow: none;
    border: 2px solid #000 !important;
    background: white;
}