@font-face {
    font-family: 'System';
    src: url('system.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: MSDOS;
  src: url(https://ethanf44.xyz/rimet/Perfect%20DOS%20VGA%20437%20Win.woff);
}

.tabbed > section > h1 > label{
 display: none !important;
}

.tabs {
  visibility: hidden;
}


.tabbed > section > div{
visibility: none !important;
background: none !important;
box-shadow: none !important;
font-size: 0px !important;
color: #FFF !important;
}

#themeSample {
  display: none !important;
}

#themePreview {
  display: none !important;
}

/*Rimet ND Fix */
  
  .windowHeader > span:active {
  box-shadow: none !important;
}


desktop, #taskbar {
  visibility: none !important;
  background: #000 !important;
  box-shadow: none !important;
}



#window0, #icons, #txt, .dropbtn, .dropbtn2, .dropbtn3, #minimPanel0, #minimPanel1, #minimPanel2, #minimPanel3, #minimPanel4, #minimPanel5, #minimPanel6, #window0, #window1, #window2, #window3, #window4, #window5, .contents {
  display: none !important;
}
#themeButton {
  visibility: visible !important;
}
#window6 {
  visibility: none !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  display: inline-block !important;
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

#window6 > .wincontent {
  width: 120% !important;
  height: 100% !important;
  background: none !important;
}

#window6 > .windowHeader, #reInstButton, #langButton, .cpl-crInfo {
display: none !important;  
}

.dropdown {
  left: 0 !important; 
  top: 0 !important;
  position: fixed;
}

 #window6::before {
  display: inline-block !important;
  visibility: visible !important;
  position: absolute;
  height: 10px !important;
  width: 100% !important;
  background: blue !important;
  top: 0px !important;
  left: 0px !important;
 }

.themeSelect-content > strong {
 font-family: System, MSDOS !important; 
 font-size: 13px !important;
}

.themeSelect-content {
  visibility: visible !important;
 font-size: 16px !important;
 background: lime !important;
 font-family: MSDOS !important;
  box-shadow: 5px 10px green;
 font-weight: normal !important;
}

.themeSelect-content::-webkit-scrollbar {
  display: none;
}


 .themeSelect-content, .themeSelect-content a, .themeSelect-content strong {
 color: #000 !important;
 font-weight: normal !important;
}

.themeSelect-content a:hover {
 text-decoration: none !important; 
 color: green !important;
}

 #themeButton::after { 
  content: "Theme";
  font-family: MSDOS !important;
  font-size: 16px !important;
  position: relative;
  top: -2px;
  }

#themeButton {
 background: lime !important;
 color: black !important; 
  box-shadow: none !important;
 font-size: 0px !important;
 height: 10px !important;
 width: 40px !important;
 padding: 2px !important;
 font-family: MSDOS;
}

#themeButton:hover {
 background: green !important;
 text-decoration: none !important;
 color: black !important; 
}

.window > * {
   border: none !important;
  box-shadow: none !important;
 font-size: 0px !important;
}

.window {
  box-shadow: none !important;
}

body::after {
  font-family: MSDOS !important;
  width: 200%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  color: lime;
}

body::before {
 content: "Oh no! It appears that Rimet cannot boot! The theme currently in use is corrupt. To boot Rimet, it is required to choose another one. You can do this by opening the 'Theme' dropdown in the top left and choosing a theme. We apologize for the inconvenience this may have caused.";
 text-align: center;
  padding: 2px;
  box-shadow: 5px 10px green;
 z-index: 2000;
position: fixed;
  top: 50%;
  left: 50%;
  font-size: 16px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 font-family: MSDOS;
 background: lime;
 color: black;
}

#taskbar {
  display: inline-block !important;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  /*background-image: url("icons/dos-error.png") !important;*/
  background: #000 !important;
  overflow: hidden !important;
}