  @font-face {
    font-family: EPMGoBold;
    src: url('window/epmgobold.ttf') format('truetype');
  }
  
  .wplist {
   background: orange !important; 
  }

.windowHeader {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 height: 50px !important;
 margin: 0px !important;
  font-variant: small-caps;
}

.windowHeader > strong {
    font-size: 30px;
    background: none !important;
        font-weight: normal !important;
    top: 10px !important;
    left: -10px;
}

#window0 > .windowHeader > strong {
    font-size: 30px;
    background: none !important;
        font-weight: normal !important;
    top: 10px;
    left: 10px;
}

#themePreview > #window0 > .windowHeader > strong {
    font-size: 30px;
    background: none !important;
        font-weight: normal !important;
    top: 4px !important;
    left: 10px;
}

.windowHeader > span:active {
  box-shadow: none !important;
}

.windowHeader {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg00.deviantart.net%2Fe2a4%2Fi%2F2013%2F059%2Fe%2F4%2Fparappa_frog_by_darkacguy-d5mw9fp.png&f=1&nofb=1') !important;
  background-position: 50% 50% !important;
  background-size: 45% !important;
background-repeat: no-repeat !important; 
}

.windowHeader > span {
  background: none !important;
}

.windowHeader > span > span {
  color: #FFF !important;
  border-color: #FFF !important;
}

.winclose {
 left: 3px !important; 
 top: 0px;
 float: right !important;
}

.winmaximize {
 left: 7px;
 top: 0px;
}

#themePreview > #window0 > .windowHeader {
    width: 260px;
    top: 0px;
    position: relative;
    z-index: 40000;
}

#themePreview > #window0 > .wincontent {
    width: 220px;
    height: 148px;
    top: -20px;
}

.winminimize > span {
left: 4.2px !important;
}

.winminimize {
 left: 12px;
 top: 0px;
}


#chiclose {
 display: none;
}

.wincontent {
  border: 25px solid orange !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

#window1 > .wincontent {
 border: 4px solid #000 !important;
}

.button, .themeSelect-content, #window0 > .wincontent, #window6 > .wincontent, .window, .wincontent {
        background-color: #FF4101 !important;
        color: white !important;
}

a {
  color: #FFF !important;
}

.taskbarPanel {
 background-color: orange !important;
 font-size: 0px !important;
}

#Inter {
  width: 97%;
  height: 85%;
left: 50%;
top: 45.5% !important;
transform: translate(-50%, -50%);
  position: relative;
  }

.window.ui-draggable.ui-draggable-handle.fullSizeWindow > .wincontent > #interTop > #interBar > #addressbar {
    width: 85% !important;
}

.window.ui-draggable.ui-draggable-handle.fullSizeWindow > .wincontent > #Inter {
  width: 90% !important;
  height: 85% !important;
  top: 49.5% !important;
}

.winclose::after {
    content: "x";
    font-size: 16px !important;
    color: #FFF;
    font-family: Monaco, Arial !important;
    top: -6px;
    position: absolute;
    left: 5px;
}

.tabbed > section > div {
    border: 3px solid #000 !important;
    background: orange !important;
    box-shadow: none !important;
}


.tabbed > section > h1 > label {
    border: 1px solid #000 !important;
    border-bottom: none !important;
    background: orange !important;
    box-shadow: none !important;
}


desktop, #themePreview {
  background-image: url('https://media.discordapp.net/attachments/881196737572782101/900446189030350918/parappa_wallpaper.jpg');
  background-size: cover !important;
  animation: none;
}

.bgpreview {
  right: 119px !important;
}

.window, .windowHeader, .wincontent {
  border-radius: 6px !important;
}

.wincontent {
 border-radius: 0px 0px 20px 20px !important; 
}

.windowHeader, .wincontent {
  background: #FF4101 !important;
  border: solid 4px #000 !important;
}

 #taskbar {
   background: orange !important;
   border: solid 2px #000 !important;
 }

.dropbtn {
      background-image: url("https://media.discordapp.net/attachments/881196737572782101/900104945108389908/frog_start.png") !important;  
            background-size: 100% !important;
      background-position: 50% 50% !important;
      top: -3px !important;
background-repeat: no-repeat !important;
 padding-left: 0px; 
    }
    
    .contents {
          bottom: 43px !important;
          left: -2px !important;
          color: #FFF !important;
          background: #FF4101 !important;
          border: solid 4px #000 !important;
          border-radius: 10px !important;
    }
    
    .taskbarPanel {
     left: 45px !important; 
     top: -2px !important;
    }
    
    .dropbtn > img {
       display: none;
    }

.dropbtn, .dropbtn > img { 
   width: 41px !important;
    height: 40px !important;
 bottom: 6.5px !important;
}


.window {
 background: none !important;
 border: none !important;
}

  .taskbarPanel, .button, .contents, .themeSelect-content {
    border: 1px solid #000 !important;
  }

* {
  box-shadow: none !important;
  font-family: /*EPMGoBold,*/ Comic Sans MS, Arimo, Times New Roman !important;
}

.theme-credit::after { 
  content: "PaRappa the Rapper theme by Anakin Denes, CSS by FasdusWisdom, PaRappa the Rapper series by NanaOn-Sha, Masaya Matsuura and Rodney Greenblat" !important;
}

























/* Superbar CSS by APH6000 */


#taskbar {
    position: absolute;
    height: 40px !important;
  /*  bottom: 0 !important;
    left: 0;
    right: 0;
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border-radius: 0px;
    color: #000;
    */
}

.taskbarPanel.activeTab, .button:hover {
    font-weight: normal !important;
}

.taskbarPanel {
    width: 48px !important;
    height: 34px !important;
    margin: 3.5px 0 0 2px;
    font-size: 0px;
    padding: 0px 0px;
    
    /* position: relative;
    bottom: 1px;
    left: 47px !important; */
}

.windowHeader > strong::after {
 font-size: 30px !important; 
 top: 14px !important;
}

.taskbarPanel::after {
     font-size: 0px !important;
}
#txt {
    top: 8px !important;
    box-shadow: none !important;
}

#comments {
  display: none !important;
}

 #minimPanel0, #minimPanel0 > .taskbarPanel.activeTab {
        background-image: url('apple-touch-icon.png') !important;  
        background-size: 60% !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        width: 28px !important;
        height: 34px !important;
    }

#minimPanel6, #minimPanel6 > .taskbarPanel.activeTab, #minimPanel7, #minimPanel7 > .taskbarPanel.activeTab, #minimPanel1, #minimPanel1 > .taskbarPanel.activeTab, #minimPanel3, #minimPanel3, #minimPanel2, #minimPanel2 > .taskbarPanel.activeTab > .taskbarPanel.activeTab, #minimPanel4, #minimPanel4 > .taskbarPanel.activeTab, #minimPanel5, #minimPanel5 > .taskbarPanel.activeTab, #minimPanel8, #minimPanel8 > .taskbarPanel.activeTab, #minimPanel9, #minimPanel9 > .taskbarPanel.activeTab, #minimPanel10, #minimPanel10 > .taskbarPanel.activeTab {
    background-size: 50% !important;
      background-position: 50% 50% !important;
background-repeat: no-repeat !important;
 padding-left: 0px; 
}

#rimetbtn2, #rimetbtn3 {
    display: none !important;
}

#window1 > .wincontent {
  padding: 2px;
  }
  
  .window.ui-draggable.ui-draggable-handle.fullSizeWindow > .wincontent > #Inter {
  height: 99% !important;
  width: 100% !important;
  }
  
  
  .window.fullSizeWindow {
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    width: 100% !important;
    height: 100% !important;
    bottom: 32px;
}
  
  .window.fullSizeWindow > .wincontent {
 margin-left: 0px !important;
 margin-right: 0px !important;
 margin-top: -2px !important;
 padding: 12px !important;
 border: 4px solid #000 !important;
 top: -4px !important;
}

menu[role=tablist] button {
    background: none;
    border-left: 2px solid #000;
        border-top: 2px solid #000;
            border-right: 2px solid #000;
    border-radius: 0px;
    color: #fff;
}

[role=tabpanel] {
    border: 2px solid #000 !important;
    background: #FF4101 !important;
}

menu[role=tablist] button[aria-selected=true] {
 background-color: #FF4101;
}

menu[role=tablist] button:first-of-type:before {
display: none;
}

.menu {
      border: 1px solid #000 !important;
      background-color: #FF4101 !important;
}

.menu-option {
      font-family: /*EPMGoBold,*/ Comic Sans MS, Arimo, Times New Roman !important;
      color: #fff;
}
