html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

#comments {
  font-size: 11px;
  text-decoration: underline;
  top: 7.5px !important;
  right: 15px !important;
  float: right;
  position: absolute;
}

.winclose {
  float: left;
}

.winminimize > span {
left: 4.2px !important;
}

.winclose, .winmaximize, .winminimize {
  background: silver !important;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
	border-radius: 0px !important;
	color: #000;
	font-weight: bold;
}

@keyframes moveIt {
  from {background-position: right;}
  to {background-position: left;}
}

body {
  background: #FFF;
}

a, a:hover, a:active, a:visited { color: white; }

desktop {
	font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("water.jpeg");
	overflow: hidden;
	  animation: moveIt 35s linear infinite;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #FFF;
	z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    bottom: 32px;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}

.windowHeader > strong {
 background-image: url('minirimetsetup.png') !important;  
    background-size: 100% !important; 
    left: 44.5% !important; 
    position: absolute;  
    width: 77px !important; 
    height: 13px !important;  
}

.windowHeader {
    background: navy !important;
	  color: #FFF;
	  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 28px;
    font-family: "Microsoft Sans Serif", Tahoma, Arial;
}
.activeWindow .windowHeader {
    background-color: #d6d2d2;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    border-radius: 5px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 28px !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 22px;
}

.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 0px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Microsoft Sans Serif", Tahoma, Arial;
    border-radius: 5px;
    line-height: 20px;
    width: 0px;
    height: 14px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span.winclose:hover {
	background: #0000ff;
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 2px;
    left: 3px;
}
.winminimize > span {
	border-bottom: 3px solid #000;
}
.winmaximize > span {
	border: 2px solid #000;
	border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.winclose > img {
position: absolute;
top: 1px;
left: -1px;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 0 0 0 0;
}
/*.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}*/
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    border: none;
    margin: 2px;
    /*border-radius: 0 0 5px 5px;*/
}

.windowHeader > strong {
    position: absolute;
    top: 7px;
    left: 30px;
    line-height: 29px;
    font-size: 11px;
}

.dropbtn {
bottom: -2px;
position: absolute;
}

.taskbarPanel {
    display: inline-block;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border-radius: 0px;
    line-height: 22px;
    margin: 3.5px 0 0 10px;
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    bottom: 1px;
    left: 60px;
    font-family: "Microsoft Sans Serif", Tahoma, Arial;
	cursor: pointer;
}

@font-face {
font-family:"Pixelated MS Sans Serif";
src:url('ms_sans_serif.woff') format("woff");
font-weight:400;
font-style:normal;
}
@font-face {
font-family:"Pixelated MS Sans Serif Bold";
src:url('ms_sans_serif_bold.woff') format("woff");
font-weight:700;
font-style:normal;
}

.taskbarPanel.activeTab {
	background: #CCC;
	font-weight: bold;
	box-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;
}
.taskbarPanel.minimizedTab {
 background: #CCC;
}
.taskbarPanel.minimizedTab:hover {
	background: #E5E5E5;
}
.taskbarPanel.closed {
	display: none;
}
#taskbar {
	position: absolute;
	height: 28px;
	bottom: 0 !important;
	left: 0;
	right: 0;
background: silver;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
	border-radius: 0px;
	color: #000;
}
#icons {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
#icons a {
    display: block;
    cursor: pointer;
    padding: 2px 10px;
}
#icons a:hover {
	background: #000;
	color: #FFF;
}


 
/*Window sizes*/
#window0 {	top: 10%;	left: 20%;}
#window0 .wincontent {	width: 660px; height: 480px;	}
@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}

