 #window0 > .wincontent {
  background-image: url('https://geocities.ws/rimet/rimetbanner.png') !important;
  background-position: -1px -5px !important;
  background-repeat: no-repeat !important;
  width: 402px !important;
  height: 320px !important;
}

#rimetBanner, .abtHr2 {
    display: none !important;
}

#\39 xbRBO {
    visibility: hidden !important;
    max-height: 10px !important;
}


#\32 kaRBO, .abLineB6, .rimetOldRAMavail {
    display: inline !important;
}

.abtRimet {
    top: 75px !important;
margin-left: 40px !important;
}

#okButton {
  top: unset !important;
  bottom: 0px !important;
  right: -40px !important;
}
  
    .abtHr1 {
        width: 100% !important;
    }